* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}



@import "mixin";
@import "var";

.main_header{
    @include flexprob;
    width: 100vw;
    height: 100vh;
    
    background: $bg-color;

    h1{
      @include commoncode(0.8rem, uppercase );
  
        &:hover{
            color: #00b400;
        }
   &::after{
       content: "project";
   } 
}
 p {
    @include commoncode(0.3rem, capitalize);
    &:hover{
    color: #00b400;
        }
    }
  }
